@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg: #1B1B1B;
$text: #fff;
$btn: #57B3FE;
$body: #F9F8FF;
$subtitle-1: #00A077;
$title: #3B3E43;
$business:#FFE7DB;
$sales: #E7F2EF;
$expert: #FAF3D8;
$research: #C0F2EF;
$audit: #EDE7F2;
$tracking: #D8F0FA;
$gray:#595E64;
$footer: #0D0D0D;

$brandTitle: #424A4D;

$business-process: #DAE6FF;
$business-tracking: #E9E5FF;
$business-result: #CEEDFF;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'DM Sans', sans-serif;
}

body{
    background-color: $body;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.subtitle{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    color: $subtitle-1;
    letter-spacing: .5px;
    opacity: .5;
}

.title{
    color: $title;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}

.btn__start{
    color: #57B3FE;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .4px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    border-radius: 60px;
    padding: 21px ;
    display: block;
    width: 100%;
    max-width: 195px;
    text-align: center;
    transition: all .3s linear;
    &:hover{
        background-color: $footer;
    }
}

.header{
    padding: 33px 0;
    margin-bottom: 68px;
    .container{
        padding: 0 60px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 1340px){
            padding: 0 15px;
        }

        .btn__start{
            margin: 0;
            display: inline-block;
            @media(max-width: 1070px){
                max-width: 145px;
            }
        }

        .logo{
            @media(max-width: 1250px){
                width: 200px;
                img{
                    width: 100%;
                }
            }
        }
    }
    &__open-mobile {
        display: none;
        @media(max-width: 1024px){
            display: block;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            cursor: pointer;
        }
        span{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            transition: all .3s linear;
            bottom: 0;
            &::before {
                content: '';
                display: block;
                width: 20px;
                border-bottom: 2px solid #000000;
                position: relative;
                top: 6px;
                transition: all .3s linear;
            }
            &::after {
                content: '';
                display: block;
                width: 20px;
                border-bottom: 2px solid #000000;
                position: relative;
                top: 12px;
                transition: all .3s linear;
            }
        }
    }
   
}

.nav{
    margin-bottom: 10px;
    @media(max-width: 1340px){
        margin-bottom: 5px;
    }
    @media(max-width: 1024px){
        display: none;
    }
    &__list{
        display: flex;
        column-gap: 33px;
        @media(max-width: 1200px){
            column-gap: 20px;
        }
    }
    &__item:hover .nav__link{
        color: $title;
    }
    &__link{
        color: $text;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        transition: all .3s linear;
        
    }
}

.banner{
    background-image: url(../media/banner-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin-bottom: 65px;
   & > .container{
        max-width: 1315px;
        text-align: center;
   }
   &__title{
        font-weight: 500;
        font-size: 68px;
        line-height: 81px;
        text-align: center;
        color: $text;
        margin-bottom: 13px;
   }
   &__text{
        color: $text;
        text-align: center;
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 41px;
   }
   &__img{
        width: 67vw;
        @media(max-width: 1340px){
            width: 55vw;
        }
   }
   .btn__start{
        margin: 0 auto 17px;
        display: block;
        max-width: 195px;
        text-align: center;
        // padding: 28px;
   }
}

.features{
    position: relative;
    overflow: hidden;
    margin-bottom: 184px;
    &::before{
        content: '';
        background-image: url(../media/features-right.svg);
        background-position: right top;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        width: 36%;
        height: 86%;
    }
    &__subtitle{
        margin-bottom: 23px;
    }
    &__main-title{
        max-width: 528px;
        margin-bottom: 30px;
    }
    &__wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 25px;
        position: relative;
        &::before{
            content: '';
            background-image: url(../media/features-left.svg);
            background-position: right top;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 50%;
            width: 47%;
            height: 86%;
            transform: translate(-86%, -42%);
            z-index: -1;
        }
    }
    &__item{
        background-color: $text;
        box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
        border-radius: 15px;
        padding: 53px 20px 48px 40px;
    }
    &__svg{
        box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
        border-radius: 15px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        &.business{
            background-color: $business;
        }
        &.sales{
            background-color: $sales;
        }
        &.expert{
            background-color: $expert;
        }
        &.research{
            background-color: $research;
        }
        &.audit{
            background-color: $audit;
        }
        &.tracking{
            background-color: $tracking;
        }
    }
    &__title{
        color: $title;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 15px;
        letter-spacing: .8px;
    }
    &__text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        font-family: 'Nunito', sans-serif;
        color: $gray;
        .bold{
            font-weight: 400;
        }
    }
}

.process{
    background-image: url(../media/procees-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 194px 0  184px;
    @media(max-width: 1340px){
        padding: 100px 0 ;
    }
    &__subtitle{
        text-align: center;
        color: $text;
        margin-bottom: 15px
    }
    &__main-title{
        color: $text;
        text-align: center;
        margin-bottom: 26px;
    }
    &__main-text{
        color: $text;
        text-align: center;
        max-width: 735px;
        margin: 0 auto 34px;
        font-size: 20px;
        line-height: 31px;
    }
    &__wrap{
        display: grid;
        row-gap: 39px;
    }
    &__item{
        background-color: $text;
        box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
        border-radius: 15px;
        display: grid;
        grid-template-columns: 46% 1fr;
        align-items: center;
        padding: 12px 9px;
        column-gap: 34px;
    }
    &__info{
       padding-right: 35px;
    }
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: auto;
            max-height: 301px;
        }
    }

    &__svg{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
        border-radius: 15px;
        margin-bottom: 20px;
        &.business{
            background-color: $business-process;
        }
        &.tracking{
            background-color: $business-tracking;
        }
        &.result{
            background-color: $business-result;
        }
    }
    &__title{
        color: $title;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    &__text{
        color: $gray;
        font-size: 16px;
        line-height: 24px;
    }
}

.brands{
    padding: 180px 0;
    text-align: center;
    @media(max-width: 1340px){
        padding: 100px 0 ;
    }
    .container {
        max-width: 1306px;
    }
    &__subtitle{
        margin-bottom: 25px;
    }
    &__main-title{
        max-width: 1000px;
        margin: 0 auto 33px;
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        row-gap: 16px;
        margin-bottom: 36px;
    }
    &__item{
        transition: all .3s linear;
        &:hover{
            transform: translateY(-3px);
        }
    }
    &__main-text{
        font-size: 16px;
        line-height: 23px;
        max-width: 479px;
        margin: 0 auto;
        color:  $brandTitle;
    }
}

.start{
    padding: 151px 0 143px;
    background: linear-gradient(249.78deg, #35D3FF -0.64%, #A963FB 103.6%);
    overflow: hidden;
    @media(max-width: 1340px){
        padding: 120px 0  100px;
    }
    .container{
        display: grid;
        align-items: center;
        grid-template-columns: 46% 1fr;
    }
    &__info{
        max-width: 417px;
        padding: 0 20px 0 0;
    }
    &__img{
        position: relative;
        
        &::before{
            content: '';
            background-image: url(../media/start-svg.svg);
            position: absolute;
            right: -53px;
            top: -39px;
            width: 60%;
            height: 60%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top right;
        }
        img{
            backdrop-filter: blur(20px);
            width: 100%;
            height: auto;
        }
    }
    &__subtitle{
        color: $text;
        margin-bottom: 24px;
    }
    &__title{
        color: $text;
        margin-bottom: 30px;
    }
    &__text{
        color: $text;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 30px;
        letter-spacing: -.3px;
    }
}

.footer{
    background-color: $footer;
    padding: 84px 0 35px;
    .logo{
        max-width: 176px;
        margin-right: 80px;
        opacity: .8;
        transition: opacity .3s linear;
        &:hover{
            opacity: 1;
        }
        img{
            width: 100%;
        }
    }
    &__top{
        display: flex;
        align-items: center;
        
        padding-bottom: 22px;
        margin-bottom: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0.35;
            border-bottom: 1px solid #FFFFFF;
        }
    }
    .nav__link{
        opacity: .8;
        transition: opacity .3s linear;
        &:hover{
            opacity: 1;
        }
    }
    .social{
        display: flex;
        column-gap: 19px;
        margin-left: auto;
        &__link{
            opacity: .8;
            transition: opacity .3s linear;
            &:hover{
                opacity: 1;
            }
        }
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        color: $text;
        opacity: .8;
        font-size: 15px;
        line-height: 25px;
    }
    &__list{
        display: flex;
        column-gap: 23px;
    }
    &__link{
        font-size: 15px;
        line-height: 20px;
        color: $text;
        opacity: .8;
        transition: opacity .3s linear;
        &:hover{
            opacity: 1;
        }
    }
}