* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sofia Pro', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

svg, path {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

ul, ol {
  list-style-type: none;
}

.wrap {
  padding: 50px 52px 40px 57px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  -webkit-column-gap: 28px;
          column-gap: 28px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo {
  display: inline-block;
  margin-bottom: 57px;
}

.header__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
  margin-bottom: 43px;
}

.header__help {
  margin-top: auto;
  padding: 7px 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px 1fr;
      grid-template-columns: 24px 1fr;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  font-size: 15.7099px;
  line-height: 24px;
  font-weight: 500;
}

.header__svg {
  position: relative;
  top: -3px;
}

.nav__list {
  display: -ms-grid;
  display: grid;
  row-gap: 25px;
}

.nav__link {
  font-size: 15.7099px;
  line-height: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px 1fr;
      grid-template-columns: 24px 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__help {
  margin-top: auto;
}

.main__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.form {
  position: relative;
}

.form__input {
  color: #000000;
  opacity: 0.2;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  border: none;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.form__input::-webkit-input-placeholder {
  color: #000000;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.form__input:-ms-input-placeholder {
  color: #000000;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.form__input::-ms-input-placeholder {
  color: #000000;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.form__input::placeholder {
  color: #000000;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.form__input:hover {
  opacity: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 47px;
          column-gap: 47px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
          column-gap: 42px;
}

.menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.menu__icon {
  line-height: 0;
}
/*# sourceMappingURL=style.css.map */