$white: #FFFFFF;
$black: #000000;
$secondary: #F2726F;
$primary: #5D62B5;
$gray: #4B4B4B;
$grayTitle: #252525;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    color: $white;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

.title-1{
    color: $grayTitle;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
}
 
.title-2{
    color: $grayTitle;
    font-weight: 900;
    font-size: 42px;
    line-height: 48px;
}

.title-3{
    color: $grayTitle;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.title-4{
    color: $grayTitle;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
}

.title-5{
    color: $grayTitle;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}

.title-6{
    color: $grayTitle;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
}

.minicaps{
    color: $grayTitle;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.hyperlink{
    color: $secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15px;
}

.font-18{
    color: $grayTitle;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.15px;
}

.font-16{
    color: $grayTitle;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.font-14{
    color: $grayTitle;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
}

.font-12{
    color: $grayTitle;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.btn{
    color: $white;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.15px;
    background-color: $secondary;
    border-radius: 8px;
    padding: 9px;
    width: 100%;
    max-width: 210px;
    border: none;
}

.container{
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
}

.banner{
    background-image: url(../media/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    &__title{
        color: #fff;
        max-width: 570px;
        margin-bottom: 48px;
    }
    .container .btn{
        text-transform: uppercase;
        padding: 12px;
    }
}

.header{
    padding-top: 26px;
    margin-bottom: 125px;
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;
    }
    &__info{
        display: flex;
        align-items: center;
        column-gap: 40px;
        margin-top: -6px;
    }
    &__title{
        color: $white;
        margin-bottom: 4px;
    }
    .hours{
        background-image: url(../media/images/svg/address.svg);
        background-position: 2px 3px;
        background-size: inherit;
        background-repeat: no-repeat;
        .header__title{
            font-weight: 700;
        }
        .header__text{
            color: $white;
            font-weight: 700;
            white-space: nowrap;
        }
    }
    .phone{
        background-image: url(../media/images/svg/phone.svg);
        background-position: 3px 5px;
        background-size: inherit;
        background-repeat: no-repeat;
        .header__title{
            font-weight: 500;
        }
        .header__text{
            color: $white;
            font-weight: 500;
            white-space: nowrap;
        }
    }
    .container .btn{
        text-transform: uppercase;
        min-width: 210px;
        padding: 8px;
    }
    &__item{
        padding-left: 33px;
    }
}

.nav{
    border-radius: 10px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding: 19px 43px;
    &__menu {
        display: flex;
        align-items: center;
        column-gap: 43px;
    }
    &__child{
        display: none;
    }
    &__wrap{
        display: flex;
        align-items: center;
        column-gap: 26px;
        margin-right: 6px;
        margin-top: 1px;
    }
    &__btn{
        border: none;
        padding: 0;
        background-color: transparent;
    }
    .btn_basket{
        position: relative;
        .basket__count{
            position: absolute;
            right: -8px;
            top: -7px;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.15px;
            color: $white;
            background: $secondary;
            content: '';
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
    &__link{
        font-weight: 700;
    }
    &__parent {
        padding-right: 15px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../media/images/svg/arrov.svg);
            background-size: inherit;
            width: 10px;
            height: 10px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}