* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.title-1 {
  color: #252525;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.title-2 {
  color: #252525;
  font-weight: 900;
  font-size: 42px;
  line-height: 48px;
}

.title-3 {
  color: #252525;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.title-4 {
  color: #252525;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.title-5 {
  color: #252525;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.title-6 {
  color: #252525;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.minicaps {
  color: #252525;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.hyperlink {
  color: #F2726F;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.15px;
}

.font-18 {
  color: #252525;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
}

.font-16 {
  color: #252525;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.font-14 {
  color: #252525;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
}

.font-12 {
  color: #252525;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.btn {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.15px;
  background-color: #F2726F;
  border-radius: 8px;
  padding: 9px;
  width: 100%;
  max-width: 210px;
  border: none;
}

.container {
  max-width: 1050px;
  padding: 0 15px;
  margin: 0 auto;
}

.banner {
  background-image: url(../media/images/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner__title {
  color: #fff;
  max-width: 570px;
  margin-bottom: 48px;
}

.banner .container .btn {
  text-transform: uppercase;
  padding: 12px;
}

.header {
  padding-top: 26px;
  margin-bottom: 125px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  margin-top: -6px;
}

.header__title {
  color: #FFFFFF;
  margin-bottom: 4px;
}

.header .hours {
  background-image: url(../media/images/svg/address.svg);
  background-position: 2px 3px;
  background-size: inherit;
  background-repeat: no-repeat;
}

.header .hours .header__title {
  font-weight: 700;
}

.header .hours .header__text {
  color: #FFFFFF;
  font-weight: 700;
  white-space: nowrap;
}

.header .phone {
  background-image: url(../media/images/svg/phone.svg);
  background-position: 3px 5px;
  background-size: inherit;
  background-repeat: no-repeat;
}

.header .phone .header__title {
  font-weight: 500;
}

.header .phone .header__text {
  color: #FFFFFF;
  font-weight: 500;
  white-space: nowrap;
}

.header .container .btn {
  text-transform: uppercase;
  min-width: 210px;
  padding: 8px;
}

.header__item {
  padding-left: 33px;
}

.nav {
  border-radius: 10px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 43px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 43px;
          column-gap: 43px;
}

.nav__child {
  display: none;
}

.nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 26px;
          column-gap: 26px;
  margin-right: 6px;
  margin-top: 1px;
}

.nav__btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.nav .btn_basket {
  position: relative;
}

.nav .btn_basket .basket__count {
  position: absolute;
  right: -8px;
  top: -7px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  background: #F2726F;
  content: '';
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.nav__link {
  font-weight: 700;
}

.nav__parent {
  padding-right: 15px;
  position: relative;
}

.nav__parent::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../media/images/svg/arrov.svg);
  background-size: inherit;
  width: 10px;
  height: 10px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */